// Link
.card-link {
  margin-bottom: 1.5rem;
  border-radius: 0;
  border: unset;
  box-shadow: $box-shadow-sm;
  @include transition($transition-base);

  @include hover-focus {
    box-shadow: $box-shadow;
    @include transition($transition-base);
  }
}

// Event
.card-event {
  margin-bottom: 1.5rem;
  box-shadow: $box-shadow-sm;
  border-radius: 1rem;
  @include transition($transition-base);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 4px solid transparent;
    border-radius: inherit;
    @include transition($transition-base);
  }

  @include hover-focus {
    text-decoration: none;
    box-shadow: $box-shadow;
    @include transition($transition-base);

    &::before {
      border-color: $dark;
      @include transition($transition-base);
    }
  }

  .card {
    &-img-top {
      padding: 1.25rem 1.25rem 0;
    }

    &-body {
      display: flex;
      color: $body-color;
    }

    &-date {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      background-color: $light;
      border-radius: 100%;
      min-width: 5rem;
      height: 5rem;
      margin-right: 1rem;

      &-number {
        margin-bottom: unset;
      }

      &-month {
        margin-top: -0.5rem;
        margin-bottom: unset;
      }
    }

    &-subtitle {
      display: block;
      margin-bottom: 0.5rem;
      color: $text-muted;
    }
  }

  &-hilight {
    box-shadow: unset;
    border: unset;

    @include hover-focus {
      box-shadow: unset;

      &::before {
        display: none;
      }
    }

    .card {
      &-img-top {
        padding: unset;
        border-top-left-radius: unset;
        border-top-right-radius: unset;
      }

      &-body {
        margin-top: 1.25rem;
        border: 1px solid $border-color;

        @include media-breakpoint-up(lg) {
          margin-left: 5rem;
          margin-right: 5rem;
        }
      }
    }
  }
}

// TODAY’S SPECIAL
.card-today-special {
  border-radius: 0;
  margin-bottom: 1.5rem;
  box-shadow: $box-shadow-sm;
  @include transition($transition-base);

  @include hover-focus {
    box-shadow: $box-shadow;
    @include transition($transition-base);
  }

  .card {
    &-img {
      border-radius: inherit;
    }

    &-body {
      color: $body-color;
      height: 100%;
      padding: 2rem;
      border-radius: inherit;
      background: url("../images/bg/card-body.jpg") no-repeat center center;
      background-size: cover;

      &-inner {
        background-color: white;
        height: inherit;
        padding: 1rem;
        box-shadow: $box-shadow;
        border: 1px solid $border-color;
      }
    }

    &-title {
      text-align: center;
    }
  }
}

// Promotion
.card-promotion {
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: auto calc(100% - 2rem);
  border-radius: $border-radius-lg;
  min-height: 17rem;
  border-width: $border-width-lg;
  margin-bottom: 1.5rem;
  box-shadow: $box-shadow-sm;
  @include transition($transition-base);

  @include hover-focus {
    border-color: $dark;
    box-shadow: $box-shadow;
    @include transition($transition-base);
  }

  @include media-breakpoint-only(md) {
    &:not(.card-promotion-karaoke) {
      justify-content: center;
    }
  }

  .card {
    &-title {
      text-align: center;
      display: inline-flex;
      flex-direction: column;
      align-self: flex-start;
      color: $body-color;

      span {
        color: $text-muted;
      }

      @include media-breakpoint-only(md) {
        font-size: 2rem;
      }
    }
  }

  @include media-breakpoint-down(lg) {
    background-position: right bottom 1rem;
    background-size: auto calc(100% - 2rem);
  }

  @include media-breakpoint-down(sm) {
    background-position: center bottom 1rem;
    background-size: calc(100% - 2rem) auto;
  }

  &-happy-birthday {
    background-image: url("../images/bg/pro-happy-birthday.png");

    @include media-breakpoint-only(md) {
      background-size: auto 90%;
      background-position: right bottom;
    }
  }

  &-congregation {
    background-image: url("../images/bg/pro-congregation.png");
    background-position: left 1rem bottom 1rem;

    @include media-breakpoint-only(md) {
      .card-title {
        align-self: flex-end;
      }
    }
  }

  &-karaoke {
    position: relative;
    align-items: center;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: url("../images/bg/pro-karaoke-floor.png") no-repeat center bottom 1rem;
      background-size: calc(100% - 2rem) auto;
    }

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: url("../images/bg/pro-karaoke.png") no-repeat right 1rem bottom 1.5rem;
      background-size: auto calc(100% - 2.5rem);
    }

    .card {
      &-title {
        display: flex;
        flex-direction: row;
        align-items: center;

        &-icon {
          margin-right: 1rem;

          img {
            max-height: 4rem;
          }
        }

        &-text {
          text-align: left;

          h4 {
            margin-bottom: -15px;
            color: $text-muted;

            @include media-breakpoint-down(md) {
              margin-bottom: -10px;
            }
          }

          h1 {
            margin-bottom: 0;
          }
        }
      }
    }

    @include media-breakpoint-up(lg) {
      justify-content: center;

      .card-title {
        margin-left: 2rem;
      }

      &:after {
        background-position: right 2rem bottom 1.5rem;
        background-size: auto calc(100% - 3rem);
      }
    }

    @include media-breakpoint-down(sm) {
      &::before {
        background-position: center bottom 1rem;
        background-size: calc(100% - 2rem) 1rem;
      }

      &:after {
        background-position: center bottom 1.5rem;
        background-size: calc(100% - 3rem) auto;
      }
    }
  }

  &-drink {
    background-image: url("../images/bg/pro-drink.png");
    background-position: center bottom 1rem;
    background-size: 80% auto;



    .card-title {
      flex-direction: row;
      align-self: center;

      span {
        margin-right: 0.5rem;
      }
    }

    @include media-breakpoint-only(md) {
      background-size: auto 90%;
      background-position: right -4rem bottom;

      .card-title {
        align-self: flex-start;
        flex-direction: column;
      }
    }
  }

  &-credit-card {
    background-image: url("../images/bg/pro-credit-card.png");
    background-position: left 1rem center;

    @include media-breakpoint-down(sm) {
      background-position: left 1rem bottom 1rem;
    }

    .card-title {
      align-self: flex-end;
    }
  }
}

// Karaoke room
.card-karaoke-room {
  align-items: center;
  border: 4px solid $dark;
  border-radius: $border-radius;
  height: 200px;
  box-shadow: $box-shadow-sm;
  margin-bottom: 1.5rem;
  overflow: hidden;
  @include transition($transition-base);

  @include media-breakpoint-only(md) {
    height: 150px;
  }

  .card {
    &-img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      img {
        position: absolute;
        max-width: 100%;
      }

      &-fg {
        bottom: -1rem;
      }
    }

    &-title {
      background-color: white;
      text-align: center;
      margin-top: auto;
      width: fit-content;
      padding: 0.25rem 1.25rem;
      border-radius: $rounded-pill;
      border: $border-width-lg solid $dark;
      color: $body-color;
      box-shadow: $box-shadow-sm;
      position: relative;
      @include transition($transition-base);

      @include media-breakpoint-down(md) {
        margin-top: 1rem;
        font-size: 1rem;
      }
    }
  }

  @include hover-focus {
    box-shadow: $box-shadow;
    @include transition($transition-base);

    .card {
      &-img {
        img {
          animation-play-state: running;
        }
      }

      &-title {
        background-color: $yellow;
        @include transition($transition-base);
      }
    }
  }

  &.sammy {
    .card-img {
      &-bg {
        animation: left-right 1s linear infinite alternate;
        animation-play-state: paused;
      }

      &-obj {
        bottom: -45px;
        animation: bear 1s linear infinite alternate;
        animation-play-state: paused;
      }

      &-fg {
        animation: bottom-right 1s linear infinite alternate;
        animation-play-state: paused;
      }
    }
  }

  &.christy {
    .card-img {
      &-bg {
        animation: left-right 1s linear infinite alternate;
        animation-play-state: paused;
      }

      &-obj {
        bottom: -33px;
        right: -36px;
        animation: bear 1s linear infinite alternate;
        animation-play-state: paused;
      }

      &-fg {
        animation: bottom-left 1s linear infinite alternate;
        animation-play-state: paused;
      }
    }
  }

  &.kinny {
    .card-img {
      &-bg {
        animation: left-right 1s linear infinite alternate;
        animation-play-state: paused;
      }

      &-obj {
        bottom: -15px;
        animation: bear 1s linear infinite alternate;
        animation-play-state: paused;
      }

      &-fg {
        bottom: -70px;
        animation: bottom-right 1s linear infinite alternate;
        animation-play-state: paused;
      }
    }
  }

  &.tubie {
    .card-img {
      &-bg {
        animation: bear 1s linear infinite alternate;
        animation-play-state: paused;
      }

      &-obj {
        bottom: -40px;
        left: -20px;
        animation: bottom-right 1s linear infinite alternate;
        animation-play-state: paused;
      }

      // &-fg {
      //   animation: bottom-right 1s linear infinite alternate;
      //   animation-play-state: paused;
      // }
    }
  }

  &.villy {
    .card-img {
      &-bg {
        animation: left-right 1s linear infinite alternate;
        animation-play-state: paused;
      }

      &-obj {
        bottom: -45px;
        left: -20px;
        animation: bear 1s linear infinite alternate;
        animation-play-state: paused;
      }

      &-fg {
        animation: bottom-right 1s linear infinite alternate;
        animation-play-state: paused;
      }
    }
  }

  @keyframes up-down {
    from {
      transform: translateY(0);
    }

    to {
      transform: translateY(10px);
    }
  }

  @keyframes bear {
    from {
      transform: rotate(10deg);
    }

    to {
      transform: rotate(-10deg);
    }

    // 0% {
    //   transform: rotate(0deg);
    // }

    // 25% {
    //   transform: rotate(10deg);
    // }

    // 50% {
    //   transform: rotate(0deg);
    // }

    // 100% {
    //   transform: rotate(-10deg);
    // }
  }

  @keyframes left-right {
    from {
      transform: translateX(5px);
    }

    to {
      transform: translateX(-5px);
    }

    // 0% {
    //   transform: translateX(0);
    // }

    // 25% {
    //   transform: translateX(5px);
    // }

    // 50% {
    //   transform: translateX(0);
    // }

    // 100% {
    //   transform: translateX(-5px);
    // }
  }

  @keyframes bottom-left {
    from {
      transform: translate(5px, 5px);
    }

    to {
      transform: translate(-5px, -5px);
    }

    // 0% {
    //   transform: translate(0, 0);
    // }

    // 25% {
    //   transform: translate(5px, 5px);
    // }

    // 50% {
    //   transform: translateX(0, 0);
    // }

    // 100% {
    //   transform: translate(-5px, -5px);
    // }
  }

  @keyframes bottom-right {
    from {
      transform: translate(-5px, -5px);
    }

    to {
      transform: translate(5px, 5px);
    }

    // 0% {
    //   transform: translate(0, 0);
    // }

    // 25% {
    //   transform: translate(-5px, -5px);
    // }

    // 50% {
    //   transform: translateX(0, 0);
    // }

    // 100% {
    //   transform: translate(5px, 5px);
    // }
  }
}

// Promotion other
.card-promotion-other {
  border-radius: 0;
  height: calc(100% - 1.5rem);
  margin-bottom: 1.5rem;
  box-shadow: $box-shadow-sm;
  text-align: center;
  color: $body-color;
  @include transition($transition-base);

  @include hover-focus {
    color: white;
    background-color: $dark;
    box-shadow: $box-shadow;
    @include transition($transition-base);
  }

  .card {
    &-img-top {
      border-top-left-radius: inherit;
      border-top-right-radius: inherit;
    }
  }
}

// Karaoke detail
.card-karaoke-detail {
  border: $border-width-lg solid $dark;
  margin-bottom: 1.5rem;
  box-shadow: $box-shadow-sm;

  .card {
    &-body {
      height: 100%;
      padding: 0.5rem;

      &:not(.card-body-right) {
        border-right: $border-width-lg solid $dark;
      }

      &-left {
        .room-images {
          margin-bottom: 0.5rem;
        }

        .slider-nav {
          .slick-slide {
            margin-right: 0.5rem;
          }
        }

        img {
          width: 100%;
        }

        @include media-breakpoint-down(lg) {
          border-right: unset !important;
          border-bottom: $border-width-lg solid $dark;
        }
      }

      &-center {
        padding-left: 2.5rem;
        padding-right: 2.5rem;

        .fc {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 100%;

          &-toolbar {
            justify-content: space-around;

            &.fc-header-toolbar {
              margin-bottom: unset;
            }
          }

          &-button {
            background-color: unset;
            color: $body-color;
            border: unset;
          }

          &-head {
            border-bottom: 1px solid $border-color;
          }

          &-day-header {
            padding-bottom: 0.5rem;
          }

          &-day-number {
            float: none !important;
            // padding-top: .5rem;
            display: block;
          }

          &-day-top {
            text-align: center;
          }

          &-bg {
            .fc-today {
              background-color: unset;
              background: url("../images/bg/today.png") no-repeat center top;
              background-size: 80%;
            }
          }

          &-widget-content {
            padding-top: 0.5rem;
          }

          th {
            border: unset;
          }

          td {
            border: unset;
          }
        }

        @include media-breakpoint-down(md) {
          border-right: unset !important;
          border-bottom: $border-width-lg solid $dark;
          padding-left: 0.5rem;
          padding-right: 0.5rem;
        }
      }

      &-right {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 0;

        &-item {
          display: flex;
          flex-direction: column;
          justify-content: center;
          flex: 1 1 auto;
          padding: 0.25rem;

          &:not(:last-child) {
            border-bottom: $border-width-lg solid $dark;
          }

          img {
            display: inline-block;
            width: 80px;
            height: 80px;
            object-fit: contain;
            margin: 0.5rem auto;

            &.date,
            &.day,
            &.night {
              width: 20px;
              height: 20px;
              object-fit: contain;
              margin: 0 auto;
            }
          }
        }

        @include media-breakpoint-down(md) {
          flex-direction: row;

          .card-body-right-item {
            border-bottom: unset;

            &:not(:last-child) {
              border-right: $border-width-lg solid $dark;
            }
          }
        }
      }
    }
  }
}

// Gallery
.card-gallery {
  box-shadow: 0 8px 2px rgba(black, 0.25);
  border-width: 0;
  border-radius: 0;
  margin-bottom: 1.5rem;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(black, 0.5);
    opacity: 0.5;
    @include transition($transition-base);
  }

  &::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    border: 1px solid white;
    opacity: 0;
  }

  @include hover-focus {
    &::before {
      opacity: 1;
      @include transition($transition-base);
    }

    &::after {
      opacity: 1;
      @include transition($transition-base);
    }
  }

  .card {
    &-img {
      border-radius: 0;
      width: 100%;
      height: 210px;
      object-fit: cover;

      &-overlay {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }

    &-title {
      color: white;
      text-transform: uppercase;
      margin-bottom: -20px;
      @include transition($transition-base);
    }

    &-icon {
      opacity: 0;
      @include transition($transition-base);
    }
  }

  &-hilight {
    .card-img {
      height: 448px;
    }
  }

  @include hover-focus {
    .card {
      &-title {
        transform: scale(1.1);
        margin-bottom: 0;
        @include transition($transition-base);
      }

      &-icon {
        opacity: 1;
        @include transition($transition-base);
      }
    }
  }

  @include media-breakpoint-down(md) {
    &-hilight {
      .card-img {
        height: 40vh;
      }
    }
  }
}

// Post
.card-post {
  border-radius: 0;
  color: $body-color;
  margin-bottom: 1.5rem;
  @include transition($transition-base);

  .card {
    &-img-top {
      border-top-left-radius: inherit;
      border-top-right-radius: inherit;
    }
  }

  @include hover-focus {
    color: white;
    background-color: $secondary;
    @include transition($transition-base);
  }
}

.card-about {
  border: 0;
  border-bottom: 1px solid $border-color;
  border-radius: 0;
  padding-bottom: 2.5rem;
  height: calc(100% - 2.5rem);
  margin-bottom: 2.5rem;
  background-color: transparent;

  .card {
    &-img {
      border-radius: inherit;
      @include transition($transition-base);

      &-hover {
        position: relative;
        overflow: hidden;
        margin-bottom: 1rem;
      }

      @include hover {
        transform: scale(1.1);
        @include transition($transition-base);
      }
    }
  }
}

.card-room-type {
  border-radius: 0;
  margin-bottom: 1.5rem;

  .card {
    &-img {
      border-radius: inherit;
      border: 8px solid $gray-200;
    }

    &-body {
      padding: 1rem;
      color: $body-color;
    }

    &-title {
      text-align: center;
      margin-bottom: 0;
    }

    &-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(black, 0.8);
      color: white;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      opacity: 0;
      @include transition($transition-base);

      &::before {
        content: "";
        position: absolute;
        top: 1rem;
        left: 1rem;
        width: calc(100% - 2rem);
        height: calc(100% - 2rem);
        border: 1px solid white;
      }

      h4 {
        text-transform: uppercase;
        margin-bottom: -1rem;
        @include transition($transition-base);
      }

      .line {
        display: block;
        width: 0px;
        height: 1px;
        background-color: white;
        @include transition($transition-base);
      }
    }
  }

  @include hover {
    .card-overlay {
      opacity: 1;
      @include transition($transition-base);

      h4 {
        margin-bottom: 0.25rem;
        @include transition($transition-base);
      }

      .line {
        width: 93px;
        @include transition($transition-base);
      }
    }
  }
}

.card-menu {
  border-radius: 0;
  margin-bottom: 1.5rem;
  @include transition($transition-base);

  .card {
    &-img-top {
      border-top-left-radius: inherit;
      border-top-right-radius: inherit;
    }

    &-title {
      color: $gold;
      margin-bottom: 0;
      text-align: center;

      small {
        color: $body-color;
        display: block;
        font-weight: 300;
      }
    }
  }

  @include hover-focus {
    background-color: $secondary;
    @include transition($transition-base);

    .card-title {
      color: $yellow;

      small {
        color: white;
      }
    }
  }
}