.sticky-wrapper {
  height: auto !important;

  .header {
    position: fixed;
    width: 100%;
    font-family: $font-kanit;
    z-index: $zindex-fixed;
    @include transition($transition-base);

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 70%;
      background-color: $dark;
    }

    .navbar {
      padding-top: 0;
      padding-bottom: 0;

      &-brand {
        padding-top: .5rem;
        padding-bottom: .5rem;
      }

      &-toggler {
        color: white;

        &:focus {
          outline: unset;
        }
      }

      &-logo {
        max-height: 70px;

        &-scrolldown {
          display: none;
          max-height: 50px;
        }
      }

      .container {
        align-items: stretch;
      }
    }

    .navbar-collapse {
      justify-content: center;
      align-items: stretch;
    }

    .nav {
      &-item {
        display: flex;
        align-items: stretch;

        &-home {
          display: none;
        }
      }

      &-link {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        text-align: center;
        height: 100%;

        &-icon {
          height: 0rem;
          @include transition($transition-base);

          img {
            width: auto;
            height: 100%;
          }
        }

        &-text {
          @include transition($transition-base);
        }
      }
    }

    .form-search {
      display: none;
      border: 1px solid $border-color;
      border-radius: .5rem;
      background-color: white;

      .form-control {
        display: none;
        border: unset;
        background-color: transparent;
      }
    }
  }

  &.is-sticky {
    .header {
      background-color: white;
      box-shadow: $box-shadow-sm;
      @include transition($transition-base);

      &::before {
        top: -100%;
        @include transition($transition-base);
      }

      .navbar-logo {
        &-scrolldown {
          display: block;
        }
      }

      .navbar-collapse {
        justify-content: space-between;
      }

      .nav {
        &-item {
          &-logo {
            display: none;
          }

          &-home {
            display: block;
          }

          &:last-child {
            .nav-link {
              border-right: 1px solid $border-color;
            }
          }
        }

        &-link {
          border-left: 1px solid $border-color;
          color: $body-color;

          @include hover-focus {
            .nav-link {
              &-icon {
                height: 2rem;
                margin-bottom: 0.25rem;
                @include transition($transition-base);
              }

              &-text {
                font-size: .6rem;
                @include transition($transition-base);
              }
            }
          }
        }
      }

      .form-search {
        display: block;

        .form-control {
          display: none;
        }
      }
    }
  }

  // Mobile
  @include media-breakpoint-down(md) {
    .header {
      .navbar {
        .container {
          align-items: flex-start;
        }

        &-toggler {
          margin-top: .5rem;
          padding: unset;
          font-size: 2.5rem;
          @include transition($transition-base);
        }

        &-logo {
          max-height: 100px;
          @include transition($transition-base);
        }
      }

      .nav {
        &-item {
          &-logo {
            display: none;
          }
        }
      }
    }

    &.is-sticky {
      .header {
        background-color: unset;
        box-shadow: unset;

        &::before {
          top: 0;
          height: 50%;
          box-shadow: $box-shadow-sm;
        }

        .navbar {
          &-toggler {
            font-size: 1.5rem;
            @include transition($transition-base);
          }

          &-logo {
            max-height: 70px;
            @include transition($transition-base);

            &-scrolldown {
              display: none;
            }
          }
        }
      }
    }
  }
}