.sticky-wrapper {
  height: auto !important;

  .header {
    position: fixed;
    width: 100%;
    font-family: $font-kanit;
    z-index: $zindex-fixed;
    @include transition($transition-base);

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 70%;
      background-color: $dark;
    }

    .navbar {
      padding-top: 0;
      padding-bottom: 0;

      &-brand {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;

        .navbar-logo {
          @include media-breakpoint-up(lg) {
            display: none;
          }
        }
      }

      &-toggler {
        color: white;

        &:focus {
          outline: unset;
        }
      }

      &-logo {
        max-height: 100px;

        &-scrolldown {
          display: none;
          max-height: 50px;
        }
      }

      .container {
        align-items: stretch;
      }

      &-nav {
        justify-content: space-around;
        width: 100%;
      }
    }

    .navbar-collapse {
      justify-content: center;
      align-items: stretch;
    }

    .nav {
      &-item {
        display: flex;
        align-items: stretch;
        flex: 1 1;

        &-home {
          display: none;
        }
      }

      &-link {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        text-align: center;
        width: 100%;
        height: 100%;

        &-icon {
          height: 0rem;
          @include transition($transition-base);

          img {
            width: auto;
            height: 100%;
          }
        }

        &-text {
          font-weight: 300;
          @include transition($transition-base);
        }
      }
    }

    .form-search {
      display: none;
      border: 1px solid $border-color;
      border-radius: 0.5rem;
      background-color: white;

      .form-control {
        border: unset;
        background-color: transparent;

        &-search {
          background: white url("../images/icons/icon-search.png") no-repeat
            right 0.75rem center;
          background-size: auto 1rem;
          border-radius: inherit;
        }
      }
    }
  }

  &.is-sticky {
    .header {
      background-color: white;
      box-shadow: $box-shadow-sm;
      @include transition($transition-base);

      &::before {
        top: -100%;
        @include transition($transition-base);
      }

      .navbar-logo {
        &-scrolldown {
          display: block;
        }
      }

      .navbar-collapse {
        justify-content: space-between;
      }

      .navbar-nav {
        opacity: 1;
        @include transition($transition-base);

        &.active {
          @include media-breakpoint-up(lg) {
            visibility: hidden;
            opacity: 0;
            @include transition($transition-base);
          }
        }
      }

      .nav {
        &-item {
          &-logo {
            display: none;
          }

          &-home {
            display: block;
          }

          &:last-child {
            .nav-link {
              border-right: 1px solid $border-color;
            }
          }
        }

        &-link {
          border-left: 1px solid $border-color;
          color: $body-color;

          @include hover-focus {
            .nav-link {
              &-icon {
                height: 2rem;
                margin-bottom: 0.25rem;
                @include transition($transition-base);
              }

              &-text {
                font-size: 0.6rem;
                @include transition($transition-base);
              }
            }
          }
        }
      }

      .form-search {
        display: block;

        @include media-breakpoint-up(lg) {
          border-color: transparent;
          display: flex !important;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          flex-wrap: nowrap;
          align-self: center;

          .btn-search {
            font-size: 1.25rem;

            .fas {
              &::before {
                content: "\f002";
              }
            }

            &.active {
              .fas {
                &::before {
                  content: "\f00d";
                }
              }
            }

            &:focus {
              outline: unset;
              box-shadow: unset;
            }
          }

          .form-control {
            border: 1px solid $border-color;
            opacity: 0;
            width: 0px;
            @include transition($transition-base);

            &.active {
              width: 300px;
              opacity: 1;
              @include transition($transition-base);
            }
          }
        }
      }
    }
  }

  // Mobile
  @include media-breakpoint-down(md) {
    .header {
      .navbar {
        .container {
          align-items: flex-start;
        }

        &-toggler {
          margin-top: 0.5rem;
          padding: unset;
          font-size: 2.5rem;
          @include transition($transition-base);
        }

        &-logo {
          max-height: 100px;
          @include transition($transition-base);
        }
      }

      .nav {
        &-item {
          &-logo {
            display: none;
          }
        }

        &-link {
          align-items: flex-end;
        }
      }

      .btn-search {
        display: none !important;
      }

      .form-control {
        display: none;
      }
    }

    &.is-sticky {
      .header {
        background-color: unset;
        box-shadow: unset;

        &::before {
          top: 0;
          height: 50%;
          box-shadow: $box-shadow-sm;
        }

        .navbar {
          &-toggler {
            font-size: 1.5rem;
            @include transition($transition-base);
          }

          &-logo {
            max-height: 70px;
            @include transition($transition-base);

            &-scrolldown {
              display: none;
            }
          }
        }
      }
    }
  }
}

.zone {
  background-color: $zone-bg;
  position: relative;
  padding: 2rem 0;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: white;
  }

  &-map {
    position: relative;

    img {
      max-width: 100%;
    }

    &-label {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      .nav {
        display: block;
        flex-wrap: unset;

        &-item {
          position: absolute;

          &:nth-child(1) {
            top: 48%;
            left: 35%;
          }

          &:nth-child(2) {
            top: 13%;
            left: 35%;
          }

          &:nth-child(3) {
            top: 38%;
            left: 7%;
          }

          &:nth-child(4) {
            top: 57%;
            left: 5%;
          }

          &:nth-child(5) {
            top: 34%;
            left: 62%;
          }

          &:nth-child(6) {
            bottom: 14%;
            left: 28%;
          }
        }

        &-link {
          background-color: transparent !important;
          padding: 0;
          @include transition($transition-base);

          @include hover-focus {
            transform: scale(1.1);
            @include transition($transition-base);
          }

          img {
            @include media-breakpoint-only(xs) {
              max-width: 60%;
            }

            @include media-breakpoint-only(sm) {
              max-width: 80%;
            }
          }
        }
      }
    }
  }

  &-detail {
    position: relative;
    padding: 0 2rem 1rem;
    margin-top: 1.5rem;
    font-family: $font-kanit;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: url("../images/bg/top-right.png") no-repeat right top 0.75rem;
      background-size: auto;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url("../images/bg/bottom-left.png") no-repeat left bottom;
      background-size: auto;
    }

    .tab-content {
      position: relative;
    }

    h5 {
      background-color: $zone-bg;
      display: inline-block;
      padding-right: 1rem;
      font-size: 1.4rem;
    }
    h6 {
      font-size: 1.2rem;
    }

    @include media-breakpoint-up(lg) {
      margin-top: 5rem;
      padding: 0 3rem 2.5rem;
    }
  }

  @include media-breakpoint-down(md) {
    padding-top: 4rem;
    margin-bottom: 1.5rem;

    &::before {
      display: none;
    }
  }
}
