.list-custom {
    list-style: none;
    padding-left: 0;

    &-item {
        margin-bottom: 1.5rem;
    }

    &-number {
        background-color: $dark;
        color: white;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 100%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin-right: .25rem;
    }
}