.nav-tabs-menu {
    justify-content: center;
    border-bottom: unset;
    margin-bottom: 2.5rem;

    .nav {
        &-item {
            &:not(:last-child) {
                margin-right: 1rem;
            }
        }

        &-link {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            background-color: $gray-400;
            color: $body-color;
            font-family: $font-kanit;
            @include rfs(20);

            @include media-breakpoint-down(xs) {
                span {
                    display: none;
                }
            }
        }
    }
}

.nav-pills-submenu {
    margin-bottom: 1.5rem;
    justify-content: center;
    align-items: center;

    li {
        &:not(:last-child) {
            margin-right: .25rem;
        }

        &:not(.nav-item) {
            color: #b8b8b8;
        }
    }

    .nav {


        &-link {
            padding: 0.25rem 0.5rem;
            font-family: $font-kanit;
            color: $body-color;

            &.active {
                background-color: $dark;
            }
        }
    }
}