// Color
$dark: #38393B;

// Font
$font-kanit: "Kanit",
sans-serif;
$headings-font-family: $font-kanit;

// Responsive font sizes
$enable-responsive-font-sizes: true;

// Borders
$border-radius-lg: 1rem;
$border-width-lg: 4px;

// Link
$link-hover-decoration: none;