// Color
$dark: #38393B;
$yellow: #fff34b;

// Font
$font-kanit: "Kanit",
sans-serif;
$headings-font-family: $font-kanit;
$headings-font-weight: 300;

// Responsive font sizes
$enable-responsive-font-sizes: true;

// Borders
$border-radius-sm: .25rem;
$border-radius: .5rem;
$border-radius-lg: 1rem;
$border-width-lg: 4px;

// Link
$link-hover-decoration: none;

// Button 
$btn-border-radius: $border-radius-sm;