// Core variables and mixins
@import "lg-variables";
@import "lg-mixins";
@import "lg-fonts";
@import "lg-theme-default";
@import "lg-thumbnail";
@import "lg-video";
@import "lg-autoplay";
@import "lg-zoom";
@import "lg-pager";
@import "lg-fullscreen";
@import "lg-share";
@import "./lg-transitions";

// Core
@import "lg-core";

.lg-backdrop.in {
  opacity: 0.85;
}
.fixed-size.lg-outer .lg-inner {
  background-color: #fff;
}
.fixed-size.lg-outer .lg-sub-html {
  position: absolute;
  text-align: left;
}
.fixed-size.lg-outer .lg-toolbar {
  background-color: transparent;
  height: 0;
}
.fixed-size.lg-outer .lg-toolbar .lg-icon {
  color: #fff;
}
.fixed-size.lg-outer .lg-img-wrap {
  padding: 12px;
}
.lg-outer {
  display: flex;
  justify-content: center;
  align-items: center;
  .lg {
    top: 0 !important;
  }
  .lg-image {
    vertical-align: top;
  }
}
